<!DOCTYPE html>
<html>
    <head>
        <title>header</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/header.css">
    </head>
    <body>
        <header>
    <div class="img">
        <img src="../asset/cgv.png" alt="">
    </div>
    <div >
        <ul class="list">
            
            <li class="container">
              <p>Phim</p>
                <div class="dropdown">
                    <a href="">Phim đang chiếu</a>
                    <a href="">Phim sắp chiếu</a>
                </div>
            </li>
             <li class="container">
                <p>Rạp CGV</p>
                <div class="dropdown">
                    <a href="">Tất cả các rạp</a>
                    <a href="">Rạp 3D</a>
                </div>
            </li>
           
           
        </ul>
    </div>
    <div class="account">
        <button>Đăng Nhập</button>
    </div>
</header>
        
    </body>
</html>